{% extends 'base.html' %}

{% block head %}
    <style>
        .options {
            width: 400px;
            aspect-ratio: 1;
            position: relative;left: 50%;
            transform: translateX(-50%);
            padding: 10px;
            padding-top: 0px;

            background: rgba(0,238,238,0.3);
            border: 1px solid #000;
            border-radius: 10px;
        }
        .bold {
            font-size: 30px;
        }

        .selector-p {
            font-size: 20px;
        }
        .select {
            font-size: 20px;
            border-top-left-radius: 5px; border-top-right-radius: 5px;
        }
        .txt-p {
            font-size: 20px;
        }
        .ps-long-input { /* ps=password */
            font-size: 20px;
            width: 5ch;
        }

        .submit-btn {
            transition-duration: 0.3s;

            position: relative;left: 50%;
            transform: translateX(-50%);

            font-size: 20px;

            border-radius: 10px;
            border: 1px solid rgb(100,155,155);

            background: rgb(100,255,100);
            color: rgb(0,0,0);
        }
        .submit-btn:hover {
            background: rgb(92, 212, 92);
        }
        .submit-btn:active {
            color: #fff;
            background: rgb(62, 182, 62);
        }

        .final-password-p {
            font-size: 20px;
            text-align: center;
        }
        .copy-btn {
            transition-duration: 0.3s;

            position: relative;left: 50%;
            transform: translateX(-50%);

            font-size: 20px;

            border-radius: 10px;
            border: 1px solid rgb(100,155,155);

            background: rgb(152,245,255);
            color: rgb(0,0,0);
        }
        .copy-btn:hover {
            background: rgb(108, 191, 201);
            color: rgb(0,0,0);
        }
        .copy-btn:active {
            background: rgb(78, 161, 171);
            color: rgb(255,255,255);
        }
    </style>
{% endblock %}

{% block code %}
    <h1 style="text-align: center;">Password generator web</h1>
    <form method="post">
        <div class="options">
            <p style="text-align: center;">
                <b class="bold">Password options</b>
            </p>
            <p class="selector-p">
                <label for="letters">With letters: </label>
                <select name="letters" class="select">
                    <option value="yes">yes</option>
                    <option value="no">no</option>
                </select>
            </p>
            <p class="selector-p">
                <label for="big letters">With big letters: </label>
                <select name="big letters" class="select">
                    <option value="yes">yes</option>
                    <option value="no">no</option>
                </select>
            </p>
            <p class="selector-p">
                <label for="numbers">With numbers: </label>
                <select name="numbers" class="select">
                    <option value="yes">yes</option>
                    <option value="no">no</option>
                </select>
            </p>
            <p class="selector-p">
                <label for="signs">With signs: </label>
                <select name="signs" class="select">
                    <option value="yes">yes</option>
                    <option value="no">no</option>
                </select>
            </p>
            <p class="txt-p">
                <label for = "long">Password length: </label>
                <input type="text" name="long" class="ps-long-input" value="{{long}}">
            </p>

            <p>
                <input type="submit" value="Generate" class="submit-btn"></input>
            </p>
        </div>
    </form>
    {% if password == "I am sorry but we couldn't generate a password" %}
        <p class="final-password-p">{{password}}</p>
    {% else %}
        <p style="text-align: center;">
            <label for="final-password-p">Password: </label>
            <a class="final-password-p" id="final-password-p">{{password}}</a>
        </p>

        <input type="text" id="to-copy" value="{{password}}" style="display: none;"> <!--to copy the password-->

        <p>
            <button class="copy-btn" onclick="copy()">copy</button>
        </p>
        <p style="text-align: center; font-size: 17px;" id="under-copy"></p>
    {% endif %}

    <script>
        function copy(){
            var copyText = document.getElementById("to-copy");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            navigator.clipboard.writeText(copyText.value);
            
            document.getElementById("under-copy").innerHTML = "copied"
        }
    </script>
{% endblock %}